/* -----------LANDING----------- */

.landing{
    display: flex;
    align-items: flex-end;
    height: 100vh;
}

.landingImage{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.landingImageHolder{
    height: calc(100% - 5rem);
    border-top-right-radius: 80px;
    overflow:hidden;
    min-width: 47vw;
}
.landingContent{
    align-self: center;
    max-width: 1050px;
    padding: 0 5vw;
    margin-top:5rem;
}

.landingContent h3{
    font-size: .95rem;
    color: var(--secondary-color);
    font-weight: 700;
    letter-spacing: 1.5px;
}

.landingContent h1{
    font-size: 4rem;
    margin: 1rem 0;
    margin-left: -3px;
    color:var(--dark-bg);
}

.landingContent p{
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--gray);
    width: 80%;
    margin: 2.5rem 0;
}

.arrowIcon{
    width: 1.4rem;
    margin-left: 15px;
    transition: all 250ms ease-in;
}

/* -----------DESCRIPTION SECTION----------- */

.description{
    background: var(--dark-bg);
    padding: 13rem 0;
    position:relative;
}
.descParagraph{
    color: #fff;
    line-height: 2.3rem;
    width: 60%;
    text-align:center;
    margin: auto;
    max-width: 800px;
    min-width: 600px;
    opacity:.9;
    font-size: .9rem;
    text-align: left;
    box-shadow: 10px 0 40px -10px #05060f;
    padding: 65px 55px;
    background: #1a1b29;
    border-top-right-radius: 50px;
}
.elipseImage{
    display:block;
    margin: auto;
    margin-bottom: 3rem;
    height: 2rem;
}
.decorationRight{
    position: absolute;
    height: 50vh;
    top: -25vh;
    right:-11rem;
}
.decorationLeft{
    position: absolute;
    left:-15rem;
    height:55vh;
}

/* -----------ARTICLES SECTION----------- */

.sectionGlobal{
    padding: 8rem 0;
}
.articleSection{
    background:#F3F0EF;
}
.sectionContent{
    width: 85%;
    min-width: 800px;
    max-width: 1500px;
    margin: auto;
    position: relative;
} 
.sliderNav > img{
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    transition: 250ms;
}
.sliderNav > img:hover{
    filter:drop-shadow(0 0 5px var(--secondary-color));
}
.leftArrow{
    margin-right: 2rem;
}
.rightArrow{
    position: relative;
}
.sectionTitleContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}
.sectionTitleContainer h2{
    font-size: 3rem;
    letter-spacing: 2px;
    color: var(--dark-bg);
    font-weight: 500;
}
.swiperImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    min-height: 500px;
}
.postLink{
    position: relative;
    display: inline-block;
    border-radius: 30px;
    overflow:hidden;
    border: 5px solid white;
}
.postContent{
    position: absolute;
    z-index: 10;
    left: 1rem;
    right: 1rem;
    bottom: 3rem;
    color: white;
}
.postContent h2{
    font-size: 1.25rem;
    position: relative;
    display: unset;
    box-shadow:inset 0 0px 0 var(--main-color);
    transition: box-shadow 300ms ease-in-out;
    padding-bottom: 2px;
    line-height: 1.8rem;
}

.postContent p{
    font-size:.55rem;
    font-weight: 600;
    margin-left: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:var(--secondary-color);
    font-style: italic;
    margin-right: 10px;
}
.postOverlay{
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position: absolute;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.205)); /* rgba(0, 0, 0, 0.75); */
    transition: background 450ms;
}
.postLink:hover h2{
    box-shadow:inset 0 -3px 0 var(--secondary-color);
}
.buttonContainer{
    margin-top: 5rem;
    text-align: center;
}


/* -----------APPLICATION SECTION----------- */


.appDesc1{
    width: 50%;
    max-width: 750px;   
    line-height: 1.8rem;
    font-size: .9rem;
}
.appDesc2{
    width: 80%;
    max-width: 920px;
    line-height: 1.8rem;
    font-size: .9rem;
}
.elipseDec1{
    position: absolute;
    top:-5rem;
    right:-30%;
    width: 50%;
    min-width: 550px;
}
.laptopImgHolder{
    position: absolute;
    top: 5rem;
    right: 0;
}
.laptopImg{
    width:100%;
    filter: drop-shadow(0 35px 25px rgba(0, 0, 0, 0.25));
}
.buttonHolder{
    position: absolute;
    top: 5rem;
    right: 0;
    width: 40%;
    min-width: 400px;
}
.buttonHolder button{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    min-width: 255px;
}

/* -----------AUTORS SECTION----------- */

.autorsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-gap: 80px;
}

.autorDetails > img{
    border-top-left-radius:40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    width: 100%;
    height: 400px;
    max-height: 400px;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 0 25px 20px #00000036;
    border:8px solid #f0f8ff0d;
}

.autorDetails{
    margin-bottom: 5rem;
    max-width: 330px;
}

.autorDetails h3{
    color: #fff;
    letter-spacing: .5px;
    margin: 15px 0;
    font-size: 1.1rem;
}

.autorDetails .mailIcon{
    height: 1.1rem;
    width: 1.1rem;
    margin-right: 10px;
}

.autorContactHolder{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    opacity: .8;
}
.autorInfo{
    opacity: .75;
    color: #fff;
    line-height: 1.4rem;
    font-size: .85rem;
    border-left: 3px solid var(--secondary-color);
    padding-left: 10px;
}
.authorRole{
    color: var(--secondary-color);
    font-size: .65rem;
    font-weight: 500;
    margin-top: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.autorContact{
    font-size: .7rem;
    color: #fff;
    display:inline-block;
    text-decoration: none;
    position: relative;
    letter-spacing: 1px;
    font-weight: 600;
}
.autorContactHolder:hover{
    opacity: 1;
}

.separator{
    width: 50px;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 5px;
    margin: 20px 0;
}
.decorationRightAutors{
    position: absolute;
    right: -20rem;
    height: 500px;
    top: 50%;
}
/* -----------CONTACT SECTION----------- */

.sectionContact{
    background: var(--main-color);
    padding: 10rem 0;
}
.contactTitle{
    font-size: 3rem;
    text-align: center;
/*     text-transform: uppercase; */
    line-height: 4.5rem;
    padding: 0 3rem;
    flex: 1;
    min-width: 48%;
    letter-spacing: 2px;
    font-weight: 600;

}
.contactContent a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
}
.contactContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contactLink{
    display: flex;
    align-items: center;

}
.contactLinks{
    flex: 1;
    display:flex;
    margin-top: 3rem;
}
.contactLink img{
    height: 4rem;
    filter: drop-shadow(0 0 -10px black);
    width: 4rem;
    margin-right: 20px;
    border-radius: 25px;
    transition: 300ms all;
}
.contactLink:hover > img{
    padding: 3px;
}


/* ----------GALERIJA---------- */



@media(max-width:1500px){
    .landingContent h1{
        font-size: 2.9rem;
    }
    .landingContent{
        max-width: 650px;
    }
    .landingContent p{
        font-size: .9rem;
        line-height: 1.5rem;
        width: 100%;
        margin: 0 0;
    }
    .landingContent h3{
        font-size: .75rem;
        letter-spacing: 2px;
        font-weight: 700;
    }
    .swiperImg{
        min-height: 400px;
    }
    .autorDetails > img{
        height: 350px;
    }
    .sectionTitleContainer h2{
        font-size: 2rem!important;
    }
}


@media(max-width:800px){
.landing{
    height: unset;
    min-height: 100vh;
}
.landingContent{
    margin: 2rem 0;
}
.landingContent h3{
    font-size: .75rem;
    letter-spacing: 1px;
}
.landingContent h1{
    font-size: 2rem;
}
.landingContent p{
    font-size: .8rem;
    line-height: 1.3rem;
}
.landingImage{
    object-position: center;
}
.landingImageHolder{
    height: unset;
    max-height: 45vh;
    min-width: 100%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 0px;
}
.landing{
    flex-direction: column;
    align-items: flex-start;
}
.description{
    padding: 7rem 0;
}
.description p{
    min-width: 93%;
    font-size:.85rem;
    line-height: 1.8rem;
}
.appDesc1,
.appDesc2{
    width: 100%;
}
.appDesc2{
    padding-bottom: 18rem;
}
.elipseDec1{
    bottom: -50%;
    top:unset;
    right:unset;
    left:0;
    min-width: 100%;
    z-index:-1;
}
.buttonHolder{
    bottom: -3rem;
    top:unset;
    right: 50%;
    transform: translateX(50%);
    width: 70%;
}
.sectionContent{
    min-width: 93%;
}

.autor p{
    min-width:unset;
    padding-left: unset;
}
.autorDetails img{
    height: 300px;
}

.autor{
    flex-direction:column;
}
.contactTitle{
    font-size: 2.5rem;
}

.autorsContainer{
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 50px;
}
.autorInfo,
.authorRole{
    font-size: .75rem!important;
    line-height: 1.2rem!important;
}
.autorDetails h3{
    letter-spacing: 0px;
    font-size: 1rem;
}
}

@media(max-width:600px){
    .elipseDec1{
        bottom: -25%;
    }
    .appDesc2{
        padding-bottom: 15rem;
    }
    .sectionTitleContainer h2{
        font-size: 2rem!important;
        line-height: 4rem!important;
    }
    .sectionTitleContainer{
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .sliderNav > img{
        height: 4rem;
        margin-top: 2rem;
    }
    .leftArrow{
        margin-right: 1rem;
        margin-left: -7px;
    }
    .swiperImg{
        min-height: 300px;
        border-radius: 20px;
    }
    .postContent p{
        font-weight: 500;
        font-size:.5rem;
    }
    .postContent h2{
        font-size:.8rem;
        line-height: 1.1rem;
    }
    .postContent{
        bottom: 2rem;
        left:10px;
        right:10px;
    }
    .buttonHolder{
        min-width: 95%;
    }
    .buttonHolder button{
        min-width: 200px;
        padding: 1rem 1.5rem;
    }
    .autorsContainer{
        grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
        padding: 20px;
    }
    .autorDetails{
        margin-bottom: 30px;
        max-width: 100vw;
    }
    .autorDetails > img{
        height: 320px;
        width: 100%;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 2rem;

    }
    .autor{
        margin-bottom: 5rem;
    }
    .contactTitle{
        font-size: 1.7rem;
        line-height: 2.5rem;
        text-align:center;
        margin-right: unset;
        margin-bottom: 3rem;
    }
    .contactContent{
        flex-direction: column;
    }
    .decorationRight{
        height: 200px;
        top: -100px;
        right:-100px;
    }
    .decorationLeft{
        left:-200px;
        height:300px;
    }
    .decorationRightAutors{
        right: -200px;
        height: 400px;
        top: 50%;
    }
    .contactTitle{
        width: 90%;
    }
    .descParagraph{
        padding: 40px 20px;
        font-size:.8rem;
        border: none;
        border-radius: 20px;
    } 
    .mainButton{
        width: 100%;
    }
}

@media(max-width:330px){
    .landing h3{
        display: none;
    }
}