.nav{
    height: 5rem;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    z-index: 100;
    transition: 350ms all ease-in-out;
}
.navShadow{
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.15);
}
.navLinks {
    display: flex;
    align-items: center;
}
.active{
    background: red;
}
.navLinks a:not(:first-child){
    font-size: .8rem;
    text-decoration: none;
    color: rgb(76, 77, 87);
    font-weight: 600;
    margin-right: 2.8rem;
    letter-spacing: 1.1px;
    position: relative;
    text-transform: uppercase;
    transition: 200ms color ease-in;
}
.navLinks a:not(:first-child):before{
    content: "";
    position: absolute;
    bottom: -7px;
    left:-15px;
    width: 33px;
    border-radius: 50px;
    z-index:-1;
    height: 33px;
    background-color: var(--main-color);
    opacity: 0;
    transition: 350ms;
}
.navLinks .activeLink:before{
    opacity:.9;
}
/* .navLinks a:not(.activeLink):hover:before{
    opacity:.4;
} */
.navLinks a:not(:first-child):hover{
    color: black;
}
.navIndicator{
    position: absolute;
    bottom: 0;
    left:0;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    transition: 300ms;
}
.navLogo{
    height:2.5rem;
    margin-right: 3rem;
    margin-left:-1rem;
    opacity: .7;
    transition: opacity 300ms ease-in;
}
.navLogo:hover{
    opacity: 1;
}
.navButton{
    font-weight: 500;
    font-size: .9rem;
    cursor:pointer;
    margin-right: 3rem;
}
.navButton:hover{
    color: var(--secondary-color);
}

@media(max-width:800px){

.navButton{
    display: none;
}

.nav{
    background-color: transparent;
}
.navLinks{
    display:none;
}
.langSelector{
    display:none;
}
.navShadow{
    box-shadow: unset;
}
}