.footerContainer{
    display:flex;
    justify-content: center;
    padding: 8rem 0;
    position: relative;
    flex-wrap:wrap;
    box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.12);
}

.footerBox{
    margin: 1.5rem;
}
.footerBox > img{
    width: 12rem;
    margin-right: 2rem;
}
.footerBoxTitle{
    text-transform: uppercase;
    color: gray;
    font-weight: 500;
    font-size:.7rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    border-left: 3px solid var(--main-color);
    padding-left: 7px;
}
.mainFooterItem{
    font-size:.9rem;
    font-weight: 500;
    margin-bottom: 10px;
    font-weight: 500;
}
.footerLink{
    display:block;
    font-weight: 500;
    color: #000;
    font-size: .9rem;
    letter-spacing: .5px;
    margin-bottom: 11px;
}
.topButton{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 12px 14px rgba(0, 0, 0, 0.55));
    top:-2rem;
    height: 4rem;
    width: 4rem;
    transition: all 300ms;
}
.topButton:hover{
    filter: drop-shadow(0 0 0 black);
}
.logoHolder{
    display:flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    margin-top: 4rem;
}
.logoHolder img:hover{
    opacity: 1;
}
.logoHolder img{
    width: 60px;
    margin: 0 20px;
    opacity: .5;
    transition: 350ms opacity;
}
@media(max-width:1100px){
    .footerBox > img{
        display:none
    }

}
@media(max-width:800px){
    .footerBox{
        margin:2.5rem 0;
        text-align: center;
    }
    .footerContainer{
        flex-direction:column;
        align-items: center;
        margin:auto;
        padding:3rem 0;
    }
    .footerLink{
        font-size: .75rem;
    }
    .footerBoxTitle{
        border:none;
        font-size: .6rem;
    }

}

@media(max-width:600px){

    .footerBox > img{
        margin: auto;
        display: block;
    }
    
}